





/* .container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100vh;
    position: relative;
    background: url('/images/ambulance_help_.jpg') no-repeat center center;
    background-size: contain;
    overflow: hidden;
    
  
  .helpButton {
    display: flex;
    position: absolute;
    height: 100vh; // Button yüksekliğini ayarlıyoruz
    width: 100px; // İhtiyaca göre button genişliğini ayarlayabilirsiniz
    align-items: center;
    justify-content: space-between;

    &.btn-primary {
      height: 100% !important; // Button'un yüksekliğini kapsayıcısının yüksekliğine ayarlıyoruz
    }
    .helpButton1 {
      bottom: 10px;
      left: 10px;
    }

    .helpButton2 {
      bottom: 10px;
      right: 10px;
    }
}
  
 
} */
