@use "@/styles/variable" as v;
@use "@/styles/mixins" as m;

.container{
    display: flex;
    flex-direction: column;
    @include m.container(90%);
    
    .ambulance_type_container {
       
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        SelectButton {
            margin-top: 10px;
            display: flex;
           // justify-content: space-evenly;        
            flex: 1 1 auto; // Flex ayarı ile orantılı genişleme
        }
       
    
    
    
    }


}










