
.ambulance_type_container {
    width: 50rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.7rem;
    align-items: center;s
    .select_button {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;        
       // flex: 1 1 auto; // Flex ayarı ile orantılı genişleme
    }
   



}







