@use "@/styles/variable" as v;
@use "@/styles/mixins" as m;

.traction_type {
  width: 800px;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn_traction_type {
    width: 800px; // Genişliği container'a göre ayarla
    display: flex;
    font-weight: 600;
    justify-content: space-evenly;
    margin-bottom: 20px; // Butonların altına boşluk ekle
  }
}


