@use "@/styles/variable" as v;
@use "@/styles/mixins" as m;

.traction_type {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    
    .btn_traction_type{
        display: flex;
        font-weight: 600;        
        justify-content: space-evenly;
       
    
    
    }
    


   
}