@use "@/styles/variable" as v;
@use "@/styles/mixins" as m;


.traction_type {
  width: 800px;
  height: 350px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  .traction_selected{
    display: flex;
    width: 800px;
    font-weight: 600;
    justify-content: space-evenly;
    
   
  }
    

}
