@use "@/styles/variable" as v;
@use "@/styles/mixins" as m;


 
.next_back {
  display: flex;
  width: 100%;
  width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  align-items: center;
}


