.vehicle_type{
    display: flex;
    justify-content: center;
    gap: 200px;
    .btn_vehicle_type{
        display: flex;
        font-weight: 600;        
        justify-content: space-evenly;
        
    }
}