
// Background Colors
$background-color:rgb(255,255,255);
$footer-background-color: rgb(27,25,23);
$sidebar-background-color: rgb(254,253,230);


// Text Colors
$text-color: rgb(27,25,23);
$footer-text-color:rgb(253, 253, 253);

//Border Colors
$sidebar-border-color:rgb(205,202,141);
$button-color1-border:rgb(62,59,133);
$button-color2-border:rgb(204, 78, 91);

// Button Colors
$button-background-color1:rgb(203,231,246);
$button-background-color2:rgb(247,226,228);

//Label-Options
$option-background-color:rgb(251,247,158);
$option-color:rgb(27,25,23);