


.helpButton{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 92vh;
    background: url('/images/ambulance_help_.jpg') no-repeat center center;
   
}

.modulhg{
    max-height: 90vh;
    
}

