
@import '~bootstrap/scss/bootstrap';
@import "../styles/variable";
//@use "../styles/mixins" as m;

html,body,#root > div {
  height: 100%;
}

body {
  background-color: $background-color;
  color: $text-color;
 
}

/* .container {
  @include m.container(90%);
}
 */
 a{
  
  text-decoration: none;
 }
 ul, li{
  list-style: none;
 }
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
