@use '../styles/variable' as v;
@use '../styles/mixins' as m;
@import '~bootstrap/scss/bootstrap';


html, body, #root > div {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$background-color;
  color: v.$text-color;
}
.container {
  @include m.container(90%);
} 
 a, link{
  
  text-decoration: none;
 }
 ul, li{
  list-style: none;
 }
 .next {
 
  background-color:v.$button-color1-border;
  ;
  color: white;
  padding: 3px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color:v.$button-bgHover-button;
    color: white
  }
}

.back {
  background-color:v.$button-color1-border;
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color:v.$button-bgHover-button;
    color: white;
  }
}
/* @media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
} */
